RegisterScreen {
    align: center middle; 
}

RegisterWidget {
    width: auto;
    height: auto;
    border: round green;
    border-title-align: center;
    padding: 1;
    background: green 10%;
    border-title-style: bold;
}

Input {
    border: round green;
    width: 30;
}

VerticalButtons {
    height: auto;
    width: auto;
}

    VerticalButtons > Button {
        width: 30;
        background: green 20%;
    }

    #back_button {
        background: $surface
    }