MyInput {
    dock: top;
    width: 1fr;
}

ModalScreen {
    align: center middle;
    width: 100%;
    height: 100%;
}

#new_modal {
    width: auto;
    height: auto;
}

QuitScreen {
    align: center middle;
    width: auto;
    height: auto;
}